@import "tailwindcss";

:root {
  --background: #081c15;
  --foreground: #d8f3dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-prompt);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --ease-spring-elastic: linear(
    0,
    0.01 0.7%,
    0.039 1.4%,
    0.15 2.9%,
    0.789 8.5%,
    1.013 10.9%,
    1.155 13.3%,
    1.195 14.5%,
    1.218 15.8%,
    1.221 17.2%,
    1.204 18.8%,
    1.007 27.1%,
    0.969 29.7%,
    0.952 32.3%,
    0.955 35.5%,
    0.998 43.8%,
    1.01 48.8%,
    0.998 65.2%,
    1
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt), Arial, Helvetica, sans-serif;
}
